body {
  // background:aqua;
}

.play,.remove{
    display: inline-block;
    vertical-align: middle;
}
.remove{
    padding: 0 10px 0 0;
}
.play{
  background: url('../public/images/play.png') no-repeat scroll top left;
  background-size: 100%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  &:hover{
    opacity: 0.8;
  }
}
